
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

body{
    background-color: transparent;
}

header{
    background-color: rgb(199, 253, 253);
    border: 2px solid rgb(33, 71, 185);
    color:black;
}

.header_sec1{
    display: flex;
    justify-content:space-between;
    max-width: 1200px;
    align-items: center;
 margin: 20px 10%;
}
.icon_side{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 30px;

}

.icon_side .fa-facebook{
    font-size: 40px;
} 

.menu_ul{
    display: flex;
    font-size: 20px;
}
.menu_ul li{
    list-style: none;
    margin-right: 10px;
}

.menu_ul a{
    color: black;
    text-decoration: none;
    /* padding:10px 15px;
    background-color:black;
    border: 1px solid white;
    border-radius: 5px; */
}

.fa-mobile,.fa-desktop{
    font-size: 30px;
    color:black;
margin-right: 10px;
}

.Desktop_icon{
    display: none;
}

/* header style end */


/* main tag er banner_sec1 er style start from here */

.banner_sec1{
max-width: 1200px;
height:400px;
display: flex;
align-items: center;
justify-content: center;
gap:20px;

margin:20px 10%;
background-color: rgb(230, 253, 253);

border:2px solid rgb(196, 242, 242);
border-radius: 10px;
padding: 20px;

box-shadow:0 0 10px rgb(5, 199, 199) ;

}

.banner_2box{

width: 50%;
height: 100%;
margin:0 auto;
}

.banner_con{
display: flex;
flex-direction: column;
/* flex direction change korle  */
justify-content: space-evenly;
/* (justify-content)property use korle normal kuno div er item flex korar pore seta pashapashi jaiga reke boshe, kintu jkn (flex-direction:column) kora hobe tkn ei justify-content property ta pashapasi justify krobena, upore nise justify korbe. */

align-items: center; 
/* align-items: center; ei property diye muloto kuno item flex korar pore seta eki line e boshanor jonno center use kroea hoito,jate sobi center line hoye  bose,kintu (flex-direction:column;) eta use korle item gulo upore nise eki line e center align hoye bosabe,kintu maj borabor, */

background-color: rgb(209, 247, 247);
padding: 10px;
border-radius: 10px;
}

.banner_sec1 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* img er ketre object-fit property use kore  cover value use korle sei iamge ta full deka jabe. kuno crop hoye asbena, & object/background er sate fit hoye asbe.   */
  
  /* relative for follow circle */
  position: relative;
  background-color: rgb(209, 247, 247);
  padding: 10px;
  border-radius: 10px;
}



.banner_sec1 h1{ /* text k 2vabe gradient color dewa jai.*/

    /* 1.protom niom:
     background-image: linear-gradient(rgb(33, 71, 185),rgb(156, 156, 156)); 
    background-clip: text;
    -webkit-text-fill-color: transparent;

 2. 2nd niom:*/
    background:linear-gradient(rgb(33, 71, 185),rgb(156, 156, 156));
    background-clip: text;
    color: transparent;
    font-size: 35px;
    
}


.banner_sec1 h2{
font-family: Arial, Helvetica, sans-serif;
}

.banner_icons{ 
    font-size: 30px;
}

.banner_btn{
    text-align: left;
 
}

.banner_btn button{
    border:2px solid white;
    border-radius: 10px;
    padding:10px 20px;
    margin-right: 20px;
    background-color:rgb(248, 224, 248);
    font-size: 20px;
    color:black;
}
.banner_btn button:hover{
    border:2px solid rgb(33, 71, 185);
    border-radius: 10px;
    padding:10px 20px;
    background-color: transparent;
    font-size: 20px;
    color:rgb(33, 71, 185);
    box-shadow: 0 0 20px 10px rgb(124, 240, 240);
}

.take_it{
    width: 5%;
    height: 5%;
    color: rgb(233, 166, 233);
    background-color: transparent;
    font: size 1.5em; ;
border-radius: 50%;
border:2px solid azure;

/* kuno ekta  jinish ekdm center/majkaner bindo te ante hole ei niser 4ta property use korte hobe, & value o egulai use krote hbe. */
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;

/* img k relative diye & ekan absolute diye move position kora hocce, */
    position: absolute;
    top:20%;
    right:45%;


    /* width: 90px;
    height: 90px;
   
 */
 
    /* position */
    /* position: relative;
    top:-300px;
    right:-100px; */

}

/*section2  products container style from here */


.sec2_3products{
    max-width: 1200px;
    margin:0 10%;

    border:2px solid rgb(196, 242, 242);
    border-radius: 10px;
    padding: 20px;

    box-shadow:0 0 10px rgb(5, 199, 199) ;
}

.products_title{
    text-align: center;
}

.products3_container{
height: 100%;
width: 100%;
/* display flex kore pashapashi content boshate caile: but (single_product)class e width 30% dite hobe.
display: flex;
justify-content: space-around;
align-items: center;
gap:5%; */

/* grid use kore content pashapashi bosate caile. */
display: grid;
grid-template-columns: repeat(3,1fr);
gap:10px;

}

.single_product{
width: 100%;
height: 100%;
padding: 10px;
background-color: rgb(221, 250, 250);
border-radius: 10px;
}

.single_product img{
width: 100%;
height: 70%;
margin: 0 auto;
}
.h1_icons_div{
    display: flex;
    justify-content: space-between;


}

.single_product p{
font-size: 80%;
}

.single_product button{
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    border:1px solid rgb(66, 97, 233);
    align-items: center;
}

